body {
    background-color:#fff;
    color:#000;
    font-family: 'Baskervville', serif;
    font-size: 28px;
    line-height:1.4;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.woff2') format('woff2'),
        url('Baskerville.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville-Italic.woff2') format('woff2'),
        url('Baskerville-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

a:link, a:active, a:visited {
    color:#fff;
    text-decoration: none;
}

a:hover {
    color:#ff99dd;
}

#container {
    width:80%;
    margin:auto;
}

#kaliwa {
    width:30%;
    float:left;
}

#kanan {
    width:70%;
    float:right;
}

h1 {
    font-size:2.6em;
    line-height: 1.2;
}

h2 {
    font-style: italic;
    font-size:1.2em;
    margin:1.5em 0 .5em;
    letter-spacing:.07em;
    font-weight: 700;
}