body {
    background-color:#d2d2e6;
    color:#341b58;
    font-family: 'Nib Pro', serif;
    font-size: 24px;
    line-height:1.4;
}

a:link, a:active, a:visited {
    color:#000;
    text-decoration: none;
    font-family:'GT America', sans-serif;
    border-bottom:.1em solid #000;
}

a:hover {
    color:#000;
    border-bottom:none;
}

#hoe {
    margin:5% 7%;
    font-size:2em;
}