body {
    background-color:#fbe4e1;
    color:#000;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    line-height:1.2;
}

a:link, a:active, a:visited {
    color:#000;
    text-decoration: none;
    font-family:'Cormorant', serif;
    border-bottom:.02em solid #000;
}

a:hover {
    color:#000;
    border-bottom:none;
}

.birb {
    font-family:'Cormorant', serif;
    font-size:1.25em;
}

.bird {
    font-family:'Cormorant', serif;
    font-size:1.5em;
}

.wee {
    font-size: .6em;
    line-height: 1.75;
}

#container {
    width:75%;
    margin:7em auto;
}

#ulo {
    display:block;
    text-align: center;
    margin:5em 0;
    text-transform:uppercase;
    font-size:.75em;
}

.laki {
    display:block;
    margin:1em auto;
    font-size:2em;
    width:100%;
}

#map {
    position:fixed;
    z-index: 999;
    top:1em;
    right:1em;
    font-size:2em;
    text-align:right;
    font-size:1.5em;
}

#map a {
    font-family:'Space Grotesk', serif;
    border-bottom:none;
    display:block;
}

#map a:hover {
    text-decoration:underline;
}

.liit {
    display:block;
    margin:1em auto;
    font-size:1em;
    width:100%;
}

.bebe {
    display:block;
    margin:1em auto;
    font-size:1em;
    width:80%;
}

h1 {
    font-size:.6em;
    font-weight:700;
    margin: 3em 0 1.5em;
}

.mid {
    font-size:1.3em;
}

table {
    width:100%;
}

td.contact {
    width:50%;
    vertical-align: top;
    text-align:center;
}

table.aboot {
    width:100%;
    text-align:left;
    vertical-align: top;
}

td.aboot1 {
    width:50%;
    text-align:left;
    padding-right: 3em;
    vertical-align: top;
}

td.aboot2 {
    width:20%;
    text-align:left;
    vertical-align: top;
}