body {
    font-size:13px;
}

#container {
    margin:3em auto;
    width:96%;
}

table, tr {
    display:block;
    width:100%;
}

td {
    width:100%;
    display:block;
    background-color: pink;
}

#contacte {
    width:100%;
}

#laki {
    font-size:2.5em;
}

.wee {
    font-size:.75em;
}