body {
    font-size:13px;
}

#container {
    margin:3em auto;
    width:96%;
}

table, tr {
    display:block;
    width:100%;
}

td.contact {
    width:100%;
    display:block;
}

#laki {
    font-size:2.5em;
}

.wee {
    font-size:.75em;
}

td.aboot1, td.aboot2 {
    width:100%;
    padding:0;
}